.ui.teal.menu
    a.ui.active.header.inverted.item(href='/') Watering Hole
    .ui.icon.input.item
        +inputAutocomplete settings=settings id="search" class="" autofocus='' placeholder='Search....' autocomplete="off"
    .right.menu
        if currentUser
            a#add.item(href='#')
                i.plus.icon
                | Service
            a.item(href="/profile/edit" class="{{isActivePath '/profile/edit'}}")
                i.user.icon
                if currentUser.name
                    | #{currentUser.profile.name}
                else
                    | Profile
        +loginButtons
        else
            a.ui.item(href='/sign-in') 
                i.sign.in.icon
                |Log In


