.ui.buttons.cloud_tags > .ui.button
    margin 0 !important
    // padding .3em !important
    
.ui.button, .ui.label
    margin  .3em !important

body
    // background lightgrey !important
    // background #eeeeee !important
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 5em

.-autocomplete-container
    margin-top 12px