.ui.buttons.cloud_tags > .ui.button
    margin 0 !important
    // padding .3em !important
    
.ui.button, .ui.label
    margin  .3em !important

body
    // background lightgrey !important
    // background #F4EAD4 !important //eggshell
    // background #faf5eb !important //lighter eggshel
    // font-size 15px !important
    // line-height 1.5em
    // margin-top 6em

.-autocomplete-container
    margin-top 12px
    
    

@media screen and (max-width: 1100px) 
    .overlay-text
        top 550px
    .overlay-text-subheader
        top 290px
    


@media screen and (max-width: 1100px) 
    .header-logo 
        // float none
        // margin-left 500px
        margin auto !important
        display block
        // width 50% !important
    
    .red-nav-bar
        margin-top 5px
        margin-bottom 5px
    .overlay-text
        top 250px
    .overlay-text-subheader
        top 270px



@media screen and (min-width: 1100px) 
    .header-logo 
        padding 0
        margin -36 !important
        position absolute
        top 0
        left 112px
        z-index 1030
        // width 80px
        // width: 100%
    .red-nav-bar
        margin-top 90px
        margin-bottom 5px
    .overlay-text
        top 200px
    .overlay-text-subheader
        top 220px
    .event-header
        bottom 0


.footer
    // background url("/img/bg-black-rpt.jpg") repeat-x scroll left top transparent
    height auto
    bottom 0
    
    
.map-container 
    // width 00px
    max-width 100%
    height 300px

.large-text
    font-size large
    line-height 140%

.center-aligned
    text-align center

.overlay-text
    color ghostwhite
    // font bold 32px/45px Helvetica, Sans-Serif
    // letter-spacing -1px
    background rgba(137, 19, 31, 1, 0.5)
    padding 10px
    // position absolute
    // left 15px
    // width 100%
    font-size 2.5em !important
    font-weight 300 !important
    // width 500px

.header-wrapper
    // float left /* important */  
    position relative /* important(so we can absolutely position the description div */  


.middle-align
    vertical-align middle !important



.banner-text
    left 0px
    font-size 225%
    
    
#footer
    position absolute
    bottom 0
    

    
.slider-header
    margin-top 0
    color #fff
    // background rgba(0, 0, 0, 0.5)
    padding 10px
    // position absolute
    // left 15px
    // width 100%
    font-size 5em !important
    font-weight 300 !important




.slider-subheader
    font-family Georgia,"Times New Roman",Times,serif
    font-style italic
    font-size 1.5em
    color #fff
    line-height 1.3em
    background rgba(137, 19, 31, 1, 0.5)
    padding 10px
    // position absolute
    // left 15px
    // width 100%
    font-size 2.5em !important
    font-weight 300 !important


@font-face
    font-family something_wild
    src url(/fonts/somethingwild-Regular.woff)

@font-face
    font-family imprima
    src url(/fonts/Imprima-Regular.ttf)

@font-face
    font-family shadows
    src url(/fonts/ShadowsIntoLight.ttf)

.wild_header
    font-size 300%
    font-family something_wild
    
// .ui.header    
//     font-family shadows !important
//     font-size 200% !important
    
    
.shadows
    font-family shadows !important
    font-size 150% !important
    line-height 120%
    font-weight bold
    
p, body
    font-family imprima


#layerslider
    margin-top -1em
    
    
    
.center
    text-align center


.big-text
    font-size 500% !important
    // line-height 130%
    padding-bottom .5em
    
.slider_header
    font-size 20em !important
    color white