#cloud.ui.basic.segment.center.aligned.container
    .ui.header Checked in Hub Members:
    .ui.left.icon.input
        i.search.icon
        +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
    .ui.hidden.fitted.divider
    if selected_tags
        #clear_tags.ui.primary.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.compact.button
                strong #{this}
    each all_tags
        .ui.compact.button.select_tag(class=cloud_tag_class) #{this.name}
