#cloud.ui.basic.segment.center.aligned.container
    if selected_tags
        #clear_tags.ui.primary.icon.compact.button
            i.remove.icon
        each selected_tags
            .unselect_tag.ui.primary.compact.button
                strong #{this}
    each all_tags
        .ui.compact.button.select_tag(class=cloud_tag_class) #{this.name}
