.ui.container.segment
    .ui.center.aligned.header Account
    // .ui.dividing.header Components
    // .ui.list
    //     each components
    //         .ui.header.item #{this}
    .ui.dividing.header Subscription