template(name='edit_account')
    .ui.container.segment
        .ui.form
            .field
                label Email
                // input(type='text' value=currentUser.emails[0].address)
            .field
                .ui.segment
                    label Change Password
                    // input.disabled(type='text' value=currentUser.profile.name)