.ui.basic.segment.container
    .ui.horizontal.divider.header Settings
    .ui.horizontal.divider.header Tribal Membership
    .ui.list
        each currentUser.tribe_memberships
            .item #{this}