.ui.fluid.two.item.menu
    .ui.container
        a.item(href="/demo/members" class="{{isActivePath '/demo/members'}}")
            i.users.icon
            |People
        a.item(href='/demo/events' class="{{isActivePath '/demo/events'}}")
            i.calendar.icon
            |Events