if checked_in
    .check_out.ui.basic.compact.small.button
        i.red.remove.icon
        |Check Out 
else
    .check_in.ui.basic.compact.small.button
        i.green.check.icon
        |Check In 
