template(name='admin_nav')
    .ui.container
        .ui.basic.padded.segment
            .ui.compact.stackable.menu
                a.item(href='/admin/users' class="{{isActivePath '/admin/users'}}")
                    i.users.icon
                    |Users
