.ui.container
    #addImporter.ui.button
        i.plus.icon
        |Add Importer
    ul.ui.list
        li.ui.header.item
            h5 My Importers
        each importers
            a.item.editImporter(href='#') #{this.name}
            a.item.editImporter(href='#') Edit
    .ui.segment
        .content
            .header Import Tweets
            .ui.input
                label Search Twitter User
                input#importTweets(type=text)

