.ui.container
    h1.ui.header About
    h3.ui.horizontal.header.divider Team
    .ui.two.column.grid
        .column
            .ui.header Eric Jackson
        .column
            .ui.header Tori Webster
    h3.ui.horizontal.header.divider History
    h3.ui.horizontal.header.divider Mission Statement