.center.wild_header.big-header About
.ui.hidden.divider
.ui.hidden.divider
.ui.text.container
    // h3.ui.horizontal.header.divider Team
    // .ui.two.column.grid
    //     .column
    //         .ui.header Eric Jackson
    //     .column
    //         .ui.header Tori Webster
    .center.shadows.large-text Mission & Vision
    .ui.basic.segment
        p.large Our mission is to build a greater sense of community in co-working spaces through a social platform that connects entrepreneurs professionally and personally.
    .center.shadows.large-text History
    .ui.basic.segment
        p.large As two young entrepreneurs, Eric Jackson and Tori Webster shared their frustration around fostering human connection at networking events and inside coworking spaces. They noticed that there was no quick and easy way to plug in and connect to the so called “community” that they were a part of. Tori, as an aspiring life consultant and coach, wanted to connect with other coaches to hear about their journey and potentially find a mentor! 
        p.large Within her coworking space, there no way to see how many members were coaches and how to reach them. She used hours and hours of her time going to events trying to find the perfect people.
    .ui.hidden.divider
    .ui.hidden.divider