template(name='home')
    // .ui.container
    +slider
    .ui.hidden.divider
    .ui.container
        +key_features
        +member_demo
        +plans
        // +clients

template(name='key_features')
    .ui.horizontal.divider.header Key Features
    .ui.stackable.container.grid
        .eight.wide.column
            .ui.items
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.users.icon
                    .content
                        .header Social Network
                        .description 
                            |Let your Members book the resources such as meeting room and projector. Coworkify calculates the charges and issues the invoice to each Member on behalf of you.

                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.checked.calendar.icon
                    .content
                        .header Check In
                        .description
                            |Check in system
        .eight.wide.column
            .ui.items
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.users.icon
                    .content
                        .header Bulletin Board
                        .description 
                            |User submitted events, posts, announcements
                .ui.item
                    .image
                        // img
                        i.huge.icons
                            i.big.thin.circle.icon
                            i.money.icon
                    .content
                        .header Member Plans
                        .description
                            | Collect member fees and % from transactions



template(name='plans')
    h2#plans.ui.horizontal.header.divider Plans
    .ui.container
        .ui.cards
            .ui.card
                .content
                    .ui.header Level 1
                    .ui.list
                        .item Member Portal
            .ui.card
                .content
                    .ui.header Level 2
                    .ui.list
                        .item Check In System
                        .item Time Tracking
                        .item Member Usage Analytics
            .ui.card
                .content 
                    .ui.header Level 3 (coming in March)
                    .ui.list
                        .item Member Transactions
                        .item Receive % 

template(name='clients')
    .ui.horizontal.header.divider Clients
    .ui.card
        .ui.header Impact Hub Boulder
        
    
