template(name='home')
    // .ui.container
    +slider
    .ui.container
        .ui.hidden.divider
        .big-text.wild_header.center Welcome to the Watering Hole
        .shadows.center The Watering Hole is desiged to bring entrepreneurs together.
        .ui.hidden.divider
        .ui.stackable.two.column.celled.grid
            .row
                .column 
                    a(href='/about') 
                        .big-text.wild_header.center Our Story
                    .ui.basic.segment
                        p Our Story Text
                        a(href='/about') 
                            |Read More
                            i.right.arrow.icon
                .column 
                    a(href='/features') 
                        .big-text.wild_header.center Features
                    .ui.two.column.centered.stackable.grid
                        .column
                            i.users.huge.icon
                            .ui.header Member Portal
                            .description Find member 
                        .column
                            i.calendar.huge.icon
                            .ui.header Events
                            .description Events feature
                        a(href='/features') 
                            |Read More
                            i.right.arrow.icon
            .row
                .column 
                    .big-text.wild_header.center Demo
                .column 
                    .big-text.wild_header.center Herds
            // +key_features
            // +member_demo
            // +plans

template(name='short_features')


template(name='clients')
    .ui.horizontal.header.divider Clients
    .ui.card
        .ui.header Impact Hub Boulder
        
    
