h2#plans.ui.horizontal.header.divider Plans
.ui.container
    .ui.centered.cards
        .ui.card
            .content
                .ui.header Level 1
                .ui.list
                    .item Member Portal
        .ui.card
            .content
                .ui.header Level 2
                .ui.list
                    .item Check In System
                    .item Time Tracking
                    .item Member Usage Analytics
        .ui.card
            .content 
                .ui.header Level 3
                .ui.list
                    .item Member Transactions
                    .item Receive % 
