.ui.hidden.divider
.center.wild_header.big-header Plans
.ui.hidden.divider
.ui.hidden.divider
.ui.container
    .ui.centered.cards
        .ui.card
            .content
                .ui.center.aligned.header Level 1
                .ui.list
                    .header.item $100/month
                    .item Member Portal
                    .item Events
        .ui.card
            .content
                .ui.center.aligned.header Level 2
                .ui.list
                    .header.item $200/month
                    .item Member Messaging
                    .item Meeting Scheduling/Availability
        // .ui.card
        //     .content 
        //         .ui.center.aligned.header Level 3
        //         .ui.list
        //             .header.item $300/month
        //             .item Member Transactions
        //             .item Receive % 
