#layerslider(style='width:1500px; height: 500px;')
    .ls-slide(data-ls='slidedelay: 3000;')
        img.ls-bg(src="{{c.url 'wateringhole' width=1500 height=675 crop='fill' fetch_format='auto' }}", alt='Slide background' )
        .ls-l(style="top: 30%; height: 170px; left: 50%;" )
            // a(href='/join')
            .center.slider_header.wild_header Make a Splash
            // h3.slider-subheader And fulfil your destiny.
