with herd
    .ui.container.basic.segment
        .ui.center.aligned.header Edit Herd
        .ui.form
            .field
                label Name
                input#name(type='text' value=name)
            .field
                label Herd Tag
                input#herd_tag(type='text' value=herd_tag)
            .field
                label Description
                textarea#description(rows='5') #{description}
            .field
                label Tags
                each tags
                    .ui.basic.button.doc_tag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.four.wide.input
                    i.add.icon
                    input#add_tag(type='text' placeholder='Add Tag' maxlength='50')
            if tags
                #save.ui.large.green.button Save
