.ui.container
    .ui.header Guest Check In
    .ui.form
        .field
            label Name
            input(type='text')
        .field
            label Email
            input(type='email')
        .field
            label Associated Member
            input(type='text')
            