.ui.horizontal.divider.header Timecard
ul.ui.divided.list
    each logs
        .item
            .header #{timestamp}
            .meta
                each tags 
                    .ui.basic.label #{this}