template(name='footer')
    .ui.basic.fluid.inverted.segment.footer
        .ui.container
            // .ui.inverted.form
            //     .inline.field
            //         label Email
            //         input(type='email')
            //     .field
            //         .ui.button Submit
            // .ui.center.aligned.inverted.header
            //     a(href='/contact') Contact Us
            .ui.center.aligned.inverted.header
                i.copyright.icon
                |Watering Hole 2017 Motherfucker